<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  
  <system.serviceModel>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"></standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
      
    
    
    <services>
      <service behaviorConfiguration="ConsultationManagerServer_Behaviour"
        name="ConsultationManagerServer.Services.ConsultationService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ConsultationManagerServer_Config"
          contract="ConsultationManagerServer.Services.IConsultationService" />
      </service>
      <service behaviorConfiguration="ConsultationManagerServer_Behaviour"
        name="ConsultationManagerServer.Services.UtilisateurService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ConsultationManagerServer_Config"
          contract="ConsultationManagerServer.Services.IUtilisateurService" />
      </service>
      <service behaviorConfiguration="ConsultationManagerServer_Behaviour"
        name="ConsultationManagerServer.Services.AuthenticationService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ConsultationManagerServer_Config"
          contract="ConsultationManagerServer.Services.IAuthenticationService" />
      </service>
      <service behaviorConfiguration="ConsultationManagerServer_Behaviour"
        name="ConsultationManagerServer.Services.PlanningService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ConsultationManagerServer_Config"
          contract="ConsultationManagerServer.Services.IPlanningService" />
      </service>
      <service behaviorConfiguration="ConsultationManagerServer_Behaviour"
        name="ConsultationManagerServer.Services.PatientService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ConsultationManagerServer_Config"
          contract="ConsultationManagerServer.Services.IPatientService" />
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="ConsultationManagerServer_Config">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ConsultationManagerServer_Behaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None" />
            </clientCertificate>
            <serviceCertificate findValue="ConsultationManagerServer" storeLocation="CurrentUser"
              storeName="My" x509FindType="FindBySubjectName" />
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="ConsultationManagerServer.App_Code.Authentication.CustomValidator, App_Code.Authentication" />
          </serviceCredentials>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    
    <!--<behaviors>
      <serviceBehaviors>
        <behavior>
          --><!-- To avoid disclosing metadata information, set the values below to false before deployment --><!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          --><!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <!--<directoryBrowse enabled="true"/>-->
  </system.webServer>

</configuration>
