<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRdvService" />
                <binding name="BasicHttpBinding_IInterviewService" />
                <binding name="BasicHttpBinding_IDossierMedService" />
                <binding name="BasicHttpBinding_ISalleService" />
                <binding name="BasicHttpBinding_IConclusionService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPatientService">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IConsultationService">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IAuthenticationService">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IUtilisateurService">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IPlanningService">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64183/Services/PatientService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPatientService"
                contract="ServiceReferencePatient.IPatientService" name="WSHttpBinding_IPatientService">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAoGqT9qDxLaf0oz2k/OZFTaSbJlogAAAAAQAAAEkCAAAwggJFMIIB86ADAgECAhDGXR28cEr4jEwW9XS1oodeMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTYwODI5MTYxMzI5WhcNMzkxMjMxMjM1OTU5WjAkMSIwIAYDVQQDExlDb25zdWx0YXRpb25NYW5hZ2VyU2VydmVyMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAn8TNuXpR54gQEEHE1FCuUqcKx2oYNwoHC+TzcHYUmXxKV1xYSObvXjD+4kcaT71NsMHH8xYsxOvYxRhhEq95cxLuhD2Q33PWN4CS0x0A8YUMhgb/5029lSm46AA8vkUt+Fyle6if7tqRhJ4uIDvPCNb1g3faJ5EJJkM2K70TYiC0W2OWfK0Vs7D+ScxizMQRSny7xUDMFda0j8frclHxTwwVSBh7x4uaX6NDv4r3uqWVAysoif1cMwIR63hI2fXCTLQwvbCBATmFsLHni+dvSuNzgSBy/P8mUAF/mLdmhiZBbX59DorNw3OzWGccG4r7LKpRq9mNAKzCeLkrNAOeqwIDAQABo0swSTBHBgNVHQEEQDA+gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3mCEAY3bACqAGSKEc+41KpcNfQwCQYFKw4DAh0FAANBAF7DrcKxAbRJjZ8bxjOgQURcfIQ32PGi0CdM+Ol88U3/Ha/muYjMVCwM8bHQOG/4low0VaRAI6a0tpXWPwI2JEc=" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:64183/Services/ConsultationService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IConsultationService"
                contract="ServiceReferenceConsultation.IConsultationService"
                name="WSHttpBinding_IConsultationService">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAoGqT9qDxLaf0oz2k/OZFTaSbJlogAAAAAQAAAEkCAAAwggJFMIIB86ADAgECAhDGXR28cEr4jEwW9XS1oodeMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTYwODI5MTYxMzI5WhcNMzkxMjMxMjM1OTU5WjAkMSIwIAYDVQQDExlDb25zdWx0YXRpb25NYW5hZ2VyU2VydmVyMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAn8TNuXpR54gQEEHE1FCuUqcKx2oYNwoHC+TzcHYUmXxKV1xYSObvXjD+4kcaT71NsMHH8xYsxOvYxRhhEq95cxLuhD2Q33PWN4CS0x0A8YUMhgb/5029lSm46AA8vkUt+Fyle6if7tqRhJ4uIDvPCNb1g3faJ5EJJkM2K70TYiC0W2OWfK0Vs7D+ScxizMQRSny7xUDMFda0j8frclHxTwwVSBh7x4uaX6NDv4r3uqWVAysoif1cMwIR63hI2fXCTLQwvbCBATmFsLHni+dvSuNzgSBy/P8mUAF/mLdmhiZBbX59DorNw3OzWGccG4r7LKpRq9mNAKzCeLkrNAOeqwIDAQABo0swSTBHBgNVHQEEQDA+gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3mCEAY3bACqAGSKEc+41KpcNfQwCQYFKw4DAh0FAANBAF7DrcKxAbRJjZ8bxjOgQURcfIQ32PGi0CdM+Ol88U3/Ha/muYjMVCwM8bHQOG/4low0VaRAI6a0tpXWPwI2JEc=" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:64183/Services/AuthenticationService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthenticationService"
                contract="ServiceReferenceAuthentication.IAuthenticationService"
                name="WSHttpBinding_IAuthenticationService">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAoGqT9qDxLaf0oz2k/OZFTaSbJlogAAAAAQAAAEkCAAAwggJFMIIB86ADAgECAhDGXR28cEr4jEwW9XS1oodeMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTYwODI5MTYxMzI5WhcNMzkxMjMxMjM1OTU5WjAkMSIwIAYDVQQDExlDb25zdWx0YXRpb25NYW5hZ2VyU2VydmVyMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAn8TNuXpR54gQEEHE1FCuUqcKx2oYNwoHC+TzcHYUmXxKV1xYSObvXjD+4kcaT71NsMHH8xYsxOvYxRhhEq95cxLuhD2Q33PWN4CS0x0A8YUMhgb/5029lSm46AA8vkUt+Fyle6if7tqRhJ4uIDvPCNb1g3faJ5EJJkM2K70TYiC0W2OWfK0Vs7D+ScxizMQRSny7xUDMFda0j8frclHxTwwVSBh7x4uaX6NDv4r3uqWVAysoif1cMwIR63hI2fXCTLQwvbCBATmFsLHni+dvSuNzgSBy/P8mUAF/mLdmhiZBbX59DorNw3OzWGccG4r7LKpRq9mNAKzCeLkrNAOeqwIDAQABo0swSTBHBgNVHQEEQDA+gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3mCEAY3bACqAGSKEc+41KpcNfQwCQYFKw4DAh0FAANBAF7DrcKxAbRJjZ8bxjOgQURcfIQ32PGi0CdM+Ol88U3/Ha/muYjMVCwM8bHQOG/4low0VaRAI6a0tpXWPwI2JEc=" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:64183/Services/UtilisateurService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUtilisateurService"
                contract="ServiceReferenceUtilisateur.IUtilisateurService"
                name="WSHttpBinding_IUtilisateurService">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAoGqT9qDxLaf0oz2k/OZFTaSbJlogAAAAAQAAAEkCAAAwggJFMIIB86ADAgECAhDGXR28cEr4jEwW9XS1oodeMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTYwODI5MTYxMzI5WhcNMzkxMjMxMjM1OTU5WjAkMSIwIAYDVQQDExlDb25zdWx0YXRpb25NYW5hZ2VyU2VydmVyMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAn8TNuXpR54gQEEHE1FCuUqcKx2oYNwoHC+TzcHYUmXxKV1xYSObvXjD+4kcaT71NsMHH8xYsxOvYxRhhEq95cxLuhD2Q33PWN4CS0x0A8YUMhgb/5029lSm46AA8vkUt+Fyle6if7tqRhJ4uIDvPCNb1g3faJ5EJJkM2K70TYiC0W2OWfK0Vs7D+ScxizMQRSny7xUDMFda0j8frclHxTwwVSBh7x4uaX6NDv4r3uqWVAysoif1cMwIR63hI2fXCTLQwvbCBATmFsLHni+dvSuNzgSBy/P8mUAF/mLdmhiZBbX59DorNw3OzWGccG4r7LKpRq9mNAKzCeLkrNAOeqwIDAQABo0swSTBHBgNVHQEEQDA+gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3mCEAY3bACqAGSKEc+41KpcNfQwCQYFKw4DAh0FAANBAF7DrcKxAbRJjZ8bxjOgQURcfIQ32PGi0CdM+Ol88U3/Ha/muYjMVCwM8bHQOG/4low0VaRAI6a0tpXWPwI2JEc=" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:64183/Services/PlanningService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPlanningService"
                contract="ServiceReferencePlanning.IPlanningService" name="WSHttpBinding_IPlanningService">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAoGqT9qDxLaf0oz2k/OZFTaSbJlogAAAAAQAAAEkCAAAwggJFMIIB86ADAgECAhDGXR28cEr4jEwW9XS1oodeMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTYwODI5MTYxMzI5WhcNMzkxMjMxMjM1OTU5WjAkMSIwIAYDVQQDExlDb25zdWx0YXRpb25NYW5hZ2VyU2VydmVyMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAn8TNuXpR54gQEEHE1FCuUqcKx2oYNwoHC+TzcHYUmXxKV1xYSObvXjD+4kcaT71NsMHH8xYsxOvYxRhhEq95cxLuhD2Q33PWN4CS0x0A8YUMhgb/5029lSm46AA8vkUt+Fyle6if7tqRhJ4uIDvPCNb1g3faJ5EJJkM2K70TYiC0W2OWfK0Vs7D+ScxizMQRSny7xUDMFda0j8frclHxTwwVSBh7x4uaX6NDv4r3uqWVAysoif1cMwIR63hI2fXCTLQwvbCBATmFsLHni+dvSuNzgSBy/P8mUAF/mLdmhiZBbX59DorNw3OzWGccG4r7LKpRq9mNAKzCeLkrNAOeqwIDAQABo0swSTBHBgNVHQEEQDA+gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3mCEAY3bACqAGSKEc+41KpcNfQwCQYFKw4DAh0FAANBAF7DrcKxAbRJjZ8bxjOgQURcfIQ32PGi0CdM+Ol88U3/Ha/muYjMVCwM8bHQOG/4low0VaRAI6a0tpXWPwI2JEc=" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:64183/Services/RdvService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRdvService"
                contract="ServiceReferenceRdv.IRdvService" name="BasicHttpBinding_IRdvService" />
            <endpoint address="http://localhost:64183/Services/InterviewService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInterviewService"
                contract="ServiceReferenceInterview.IInterviewService" name="BasicHttpBinding_IInterviewService" />
            <endpoint address="http://localhost:64183/Services/DossierMedService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDossierMedService"
                contract="ServiceReferenceDossierMed.IDossierMedService" name="BasicHttpBinding_IDossierMedService" />
            <endpoint address="http://localhost:64183/Services/SalleService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISalleService"
                contract="ServiceReferenceSalle.ISalleService" name="BasicHttpBinding_ISalleService" />
            <endpoint address="http://localhost:64183/Services/ConclusionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConclusionService"
                contract="ServiceReferenceConclusion.IConclusionService" name="BasicHttpBinding_IConclusionService" />
        </client>
    </system.serviceModel>
</configuration>