<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPathologieService">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IUtilisateurService">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IAuthenticationService">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64183/Services/PathologieService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPathologieService"
                contract="ServiceReferencePathologie.IPathologieService" name="WSHttpBinding_IPathologieService">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAoGqT9qDxLaf0oz2k/OZFTaSbJlogAAAAAQAAAEkCAAAwggJFMIIB86ADAgECAhDGXR28cEr4jEwW9XS1oodeMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTYwODI5MTYxMzI5WhcNMzkxMjMxMjM1OTU5WjAkMSIwIAYDVQQDExlDb25zdWx0YXRpb25NYW5hZ2VyU2VydmVyMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAn8TNuXpR54gQEEHE1FCuUqcKx2oYNwoHC+TzcHYUmXxKV1xYSObvXjD+4kcaT71NsMHH8xYsxOvYxRhhEq95cxLuhD2Q33PWN4CS0x0A8YUMhgb/5029lSm46AA8vkUt+Fyle6if7tqRhJ4uIDvPCNb1g3faJ5EJJkM2K70TYiC0W2OWfK0Vs7D+ScxizMQRSny7xUDMFda0j8frclHxTwwVSBh7x4uaX6NDv4r3uqWVAysoif1cMwIR63hI2fXCTLQwvbCBATmFsLHni+dvSuNzgSBy/P8mUAF/mLdmhiZBbX59DorNw3OzWGccG4r7LKpRq9mNAKzCeLkrNAOeqwIDAQABo0swSTBHBgNVHQEEQDA+gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3mCEAY3bACqAGSKEc+41KpcNfQwCQYFKw4DAh0FAANBAF7DrcKxAbRJjZ8bxjOgQURcfIQ32PGi0CdM+Ol88U3/Ha/muYjMVCwM8bHQOG/4low0VaRAI6a0tpXWPwI2JEc=" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:64183/Services/UtilisateurService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUtilisateurService"
                contract="ServiceReferenceUtilisateur.IUtilisateurService"
                name="WSHttpBinding_IUtilisateurService">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAoGqT9qDxLaf0oz2k/OZFTaSbJlogAAAAAQAAAEkCAAAwggJFMIIB86ADAgECAhDGXR28cEr4jEwW9XS1oodeMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTYwODI5MTYxMzI5WhcNMzkxMjMxMjM1OTU5WjAkMSIwIAYDVQQDExlDb25zdWx0YXRpb25NYW5hZ2VyU2VydmVyMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAn8TNuXpR54gQEEHE1FCuUqcKx2oYNwoHC+TzcHYUmXxKV1xYSObvXjD+4kcaT71NsMHH8xYsxOvYxRhhEq95cxLuhD2Q33PWN4CS0x0A8YUMhgb/5029lSm46AA8vkUt+Fyle6if7tqRhJ4uIDvPCNb1g3faJ5EJJkM2K70TYiC0W2OWfK0Vs7D+ScxizMQRSny7xUDMFda0j8frclHxTwwVSBh7x4uaX6NDv4r3uqWVAysoif1cMwIR63hI2fXCTLQwvbCBATmFsLHni+dvSuNzgSBy/P8mUAF/mLdmhiZBbX59DorNw3OzWGccG4r7LKpRq9mNAKzCeLkrNAOeqwIDAQABo0swSTBHBgNVHQEEQDA+gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3mCEAY3bACqAGSKEc+41KpcNfQwCQYFKw4DAh0FAANBAF7DrcKxAbRJjZ8bxjOgQURcfIQ32PGi0CdM+Ol88U3/Ha/muYjMVCwM8bHQOG/4low0VaRAI6a0tpXWPwI2JEc=" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:64183/Services/AuthenticationService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthenticationService"
                contract="ServiceReferenceAuthentication.IAuthenticationService"
                name="WSHttpBinding_IAuthenticationService">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAoGqT9qDxLaf0oz2k/OZFTaSbJlogAAAAAQAAAEkCAAAwggJFMIIB86ADAgECAhDGXR28cEr4jEwW9XS1oodeMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTYwODI5MTYxMzI5WhcNMzkxMjMxMjM1OTU5WjAkMSIwIAYDVQQDExlDb25zdWx0YXRpb25NYW5hZ2VyU2VydmVyMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAn8TNuXpR54gQEEHE1FCuUqcKx2oYNwoHC+TzcHYUmXxKV1xYSObvXjD+4kcaT71NsMHH8xYsxOvYxRhhEq95cxLuhD2Q33PWN4CS0x0A8YUMhgb/5029lSm46AA8vkUt+Fyle6if7tqRhJ4uIDvPCNb1g3faJ5EJJkM2K70TYiC0W2OWfK0Vs7D+ScxizMQRSny7xUDMFda0j8frclHxTwwVSBh7x4uaX6NDv4r3uqWVAysoif1cMwIR63hI2fXCTLQwvbCBATmFsLHni+dvSuNzgSBy/P8mUAF/mLdmhiZBbX59DorNw3OzWGccG4r7LKpRq9mNAKzCeLkrNAOeqwIDAQABo0swSTBHBgNVHQEEQDA+gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3mCEAY3bACqAGSKEc+41KpcNfQwCQYFKw4DAh0FAANBAF7DrcKxAbRJjZ8bxjOgQURcfIQ32PGi0CdM+Ol88U3/Ha/muYjMVCwM8bHQOG/4low0VaRAI6a0tpXWPwI2JEc=" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>